<div class="container" *ngIf="restaurant != null">

    <h2 style="text-align:center;margin-top:20px">{{restaurant.name|titlecase}} Details </h2>
   
    <table class="table" style="text-align:center;font-size: 18px;">
        <thead>
        <tr>
            <th scope="col">code</th>
            <th scope="col">adresse</th>
            <th scope="col">email</th>
            <th scope="col">name</th>
            <th scope="col">menus</th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td>{{restaurant.code}}</td>
            <td>{{restaurant.adresse}}</td>
            <td>{{restaurant.email}}</td>
            <td>{{restaurant.name}}</td>
            <td >
                <ul *ngFor="let menu of restaurant.menus" style="list-style: none;">
                    <li>{{menu.titre}}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

</div>