<div class="container">

    <h2 style="text-align:center;margin-top:20px"></h2>
   
    <table class="table" style="text-align:center;font-size: 18px;">
        <thead>
        <tr>
            <th scope="col">Code_fac</th>
            <th scope="col">method</th>
            <th scope="col">total</th>
            
        </tr>
        </thead>
        <tbody>
        <tr >
            <td>{{facture.code_fac}}</td>
            <td>{{facture.mode_paimenent}}</td>
            <td>{{facture.total}}</td>
            
        </tr>
        </tbody>
    </table>

</div>