




<h1 style="margin-left: 40%;"> Food Details</h1>
<h2 style="margin-left:40%;">Feel free to choose what ever extras you want  </h2>



                <p> THIS IS ONE SINGLE FOOD samitou product 5aterkom samitou lmodel food -_- wma7abech ya3mil rename, ma8ir mat7awil ta3mil rename</p>



                display les extra il foud bch ynajim yzid wina9ess ili y7eb wba3ed tabde famma button ajouter au panier kif yenzel 3leha
                    te5ou lfood, les extras selectionner et le nom du restaurant.
<h2>number of items in cart is : {{ numItemmsInCart }}</h2>
    
                    <button (click)="ajouterAuPanier(product)" >Ajouter Panier</button>