<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-sm d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Have no time to prepare <span style="color: black;">food</span>?</h1>
          <h2>I don't know what to put here :)</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Order Food</a>
            </div>
        </div>
        <div class="col-sm order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/burger.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->